.header {
  padding: 20px 0;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu {
  display: flex;
  gap: 44px;
}
.header-menu__item {
  font-size: 20px;
  line-height: 23px;
  font-family: "ubuntu", sans-serif;
}
.header-menu__link--active {
  color: #3A8BEA;
}
.header-authentication {
  display: flex;
  gap: 33px;
  align-items: center;
}
.header-authentication__button {
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  font-family: "allerta", sans-serif;
}
.header-authentication__button--registration {
  background-color: #3A8BEA;
  color: #FFFFFF;
  padding: 9px 11px;
  border-radius: 20px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
.form-block {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.search-form {
  display: flex;
  align-items: center;
}
.search-form label, .search-form select, .search-form input, .search-form button {
  margin: 5px;
}
.search-button{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  background: #3A8BEA;
  border-radius: 10%;
}
.catalog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.property-block {
  width: 300px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.property-image {
  object-fit: cover;
  margin: auto;
}
.property-info {
  padding: 10px;
}
.property-info h4 {
  margin: 0 0 10px 0;
  color: #9a9a9a;
}
.property-info p {
  margin: 0;
}

.footer {
  background-color: #DDDDDD;
  font-family: "inter";
  padding: 50px 0px;
}
.footer-content {
  display: flex;
  flex-direction: column;
}
.footer-content__text {
  text-align: center;
  color: #9A9A9A;
  background-color: #D2D2D2;
  padding: 14px 224px;
  max-width: 1320px;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 90px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 46px;
}
.footer-contact__number {
  color: #9A9A9A;
  font-size: 36px;
  line-height: 44px;
}
.footer-contact__work {
  font-size: 27px;
  color: #9A9A9A;
  line-height: 33px;
}
.footer-information {
  display: flex;
  align-items: end;
  font-size: 27px;
  line-height: 33px;
  color: #9A9A9A;
}
.footer-social {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-social__title {
  font-size: 27px;
  line-height: 33px;
  color: #9A9A9A;
}
.footer-social-icons {
  display: flex;
  gap: 24px;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.tab-content__select{
  font-size: 15px;
  border: none;
  width: 110px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 5px;
  background: url(/img/Polygon\ 1.png) no-repeat right ;
  -webkit-appearance: none;
  background-position-x: 85px;
}
.catalog-text{
  font-size: 18px;
  text-align: center;
}

input{
  border: none;

}
input:focus {
  outline: none;
}

.home-salary{
  color: #999999;
  border: none;
  outline: none;
}

@font-face {
  font-family: "ubuntu";
  src: url("../fonts/ubuntu/Ubuntu-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "allerta";
  src: url("../fonts/allerta/Allerta-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "inter";
  src: url("../fonts/inter/Inter-Regular.ttf");
  font-weight: 400;
}
.header {
  padding: 20px 0;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu {
  display: flex;
  gap: 44px;
}
.header-menu__item {
  font-size: 20px;
  line-height: 23px;
  font-family: 'ubuntu', sans-serif;
}
.header-menu__link--active {
  color: #3A8BEA;
}
.header-authentication {
  display: flex;
  gap: 33px;
  align-items: center;
}
.header-authentication__button {
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  font-family: "allerta", sans-serif;
}
.header-authentication__button--registration {
  background-color: #3A8BEA;
  color: #FFFFFF;
  padding: 9px 11px;
  border-radius: 20px;
}

.footer {
  background-color: #DDDDDD;
  font-family: "inter";
  padding: 50px 0px;
}
.footer-content {
  display: flex;
  flex-direction: column;
}
.footer-content__text {
  text-align: center;
  color: #9A9A9A;
  background-color: #D2D2D2;
  padding: 14px 224px;
  max-width: 1320px;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 90px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 46px;
}
.footer-contact__number {
  color: #9A9A9A;
  font-size: 36px;
  line-height: 44px;
}
.footer-contact__work {
  font-size: 27px;
  color: #9A9A9A;
  line-height: 33px;
}
.footer-information {
  display: flex;
  align-items: end;
  font-size: 27px;
  line-height: 33px;
  color: #9A9A9A;
}
.footer-social {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-social__title {
  font-size: 27px;
  line-height: 33px;
  color: #9A9A9A;
}
.footer-social-icons {
  display: flex;
  gap: 24px;
}
